<div class="actions-container">
  <button mat-raised-button (click)="createCampaign()">
    Create New Campaign
  </button>
  <button mat-raised-button (click)="manageChannels()">Manage Channels</button>
</div>

<mat-form-field class="search-bar">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
</mat-form-field>

<table mat-table [dataSource]="this.campaings" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let campaign">
      {{ campaign.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let campaign">{{ campaign.name }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
    <td mat-cell *matCellDef="let campaign">{{ campaign.createdAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="endsAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
    <td mat-cell *matCellDef="let campaign">{{ campaign.endsAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let campaign">
      <button mat-icon-button (click)="viewCampaign(campaign.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCampaign(campaign.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
